.app{
    box-sizing: border-box;
}

.card-list{
    width: 100%;
    display: flex;
    /* align-items: start; */
    /* justify-content: center; */

    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;

}

.card-div{

    margin-left: 5%;
    margin-right: 5%;

}
